* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background-color: #275D87;
    margin: 0;
}
div .weather>p{
    color: #B6C3CB;
}

.logo-container{
    width: 19%;
    height: 50%;
    border-radius: 50%;
}
#logo{
    padding-left: 15%;
    height: 71px;
}
.text-title{
    text-align: right;
    color: floralwhite;
    font-weight: 800;
    letter-spacing: 1rem;
    text-shadow: 2px 2px black;
    margin-right: 2vw;
    font-size: 26px;
    font-family: 'Pacifico', cursive;
}
.header-container{
    display: inline-flex;
    width: 100%;
    height: 26vh;
}
header {
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.logo-text{
    width: 81%;
    padding-top: 3vh;
}
.img{
    align-content: center;
}

footer{
    height: 2.5%;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background-color: #275D87;
}
.info-container-wrapper{
    overflow: hidden;
    height: 100%;
    width: 25%;
    display: inline-block;
    border-radius: 5%;
    box-sizing: border-box;
    vertical-align: top;
}
.info-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #B6C3CB;
    box-sizing: border-box;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;

}

.info-1 {
    height: 25%;
    width: 100%;
}

#wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 73%;
    box-sizing: border-box;
}

#map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.picture {
    height: 33%;
    width: 33%;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #338C81;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 10px;
    opacity: 0.9;
}

.image {
    height: 93%;
    margin: 2%;
    background-size: cover;
    background-repeat: no-repeat;
}

.reviewTextBox {
    background-color: black ;
    opacity: 0.8;
    max-height: 201px;
    margin: 2%;
    margin-top: 5%;
    overflow: auto;
    overflow-x: hidden;
    padding: 3%;
    font-weight: 800;
    color: floralwhite;

}

.beachName {
    font-size: 150%;
    text-align: center;
    letter-spacing: 1vh;
    font-family: 'Pacifico', cursive;
}
.beach_rating{
    text-align: center;
    font-size: 3vh;
}
.beach_rating{
    font-size: 1rem;
    
    
}
.beach_review{
    font-size: 1rem;
    font-weight: bold;
}

.reviewText .reviewRating{
    font-size: 100%;
    text-align: center;
}

.weather {
    width: 25%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin: auto auto 5vh 5vw;
    background-color: #338C81;
    opacity: 0.8;
    padding: 10px;
    box-shadow: 5px 7px 10px;
    text-align: center;
}

.weather > p, .reviewText, .yelp {
    font-family: Arial, sans-serif;
}

.high-low{
    right: 0;
}

.yelp_container {
    height: 25%;
    width: 25%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin: auto auto 5vh 5vw;
    background-color: #b65824;
}
.yelp_ratings{
    display: inline-block;
}
.yelp_container>div {
    width: 9vh;
    height: 9vw;
    border: 1px solid black;
}
.yelp_img {
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    width: 39%;
    height: 66%;
}

.yelp {
    color: black;
    text-align: center;
    width:100%;
    border-bottom: .2em dotted #6a6969;
}

.yelp >p,
.Name_title >p,
.price_title >p{
    margin: 0;
    /* font-size: 1.5rem;   */
}
.yelp > p:first-child{
    /* font-size: 1.5rem; */
    font-family: 'Pacifico', cursive;
}

.rounded-border {
    border-radius: 10%
}

.clickedBeach {
    color: green;
}


.content {
    position: absolute;
    top: 72px;
    left: 2%;
    height: calc(100% - 75px);
    min-height: 375px;
    width: 98%;
}

::-webkit-scrollbar{
    width: 2%;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background-color: #1E4969;
    height: 1%
}
.data-empty{
    font-size: 90%;
    margin-top: 5%;
}


@media only screen and (max-width: 1380px) {
    #logo{
        padding-left: 15%;
        height: 71px
    }
    .header-container{
        height: 28vh;
    }
    .info-container-wrapper{
        width: 28%
    }
    #wrapper{
        width: 70%
    }
    .weather{
        width:31%;
        bottom:10%
    }
    .picture{
        height: 22%;
        width: 45%;
        right: 4%;
    }
    .reviewTextBox{
        max-height: 12vh;
        width: 94%;
    }
    .beachName{
        font-size: 91%;
    }
    .beach_rating{
        font-size: 77%;
    }
    .text-title{
        font-weight: 100;
        letter-spacing: 3px;
        font-size: 2rem;
    }
}
 @media only screen and (max-width: 600px) {
    .current > p,
    .sunrise-sunset > p,
    .high-low > p, 
    .weather > p, 
    .reviewText {
         margin: 1%;
         padding: 1%;
         height: 10%;
         font-size: 50%;
     }
     .weather > p:first-child {
         font-size: 125%;
         height: 20%;
     }
     .text-title{
         font-size: 2rem;
     }
 }


 @media only screen and (max-width: 572px) {
    .beachName{
        letter-spacing: 2px;
    }
    #logo{
        padding-left: 15%;
        height: 80%;
    }
    .text-title{
        font-size: 4vh;
    }
 }

 @media only screen and (max-width: 330px) {
    .text-title{
        font-size: 5vh;
    }
    .yelp >p,
    .Name_title >p,
    .price_title >p{
        font-size: 0.8rem;
    }
    .yelp_img{
        width: 65%
    }
    .yelp_ratings{
        font-size: 0.6rem;
    }
     .beachName{
         letter-spacing: 2px;
         font-size: 60%;
     }
     .beach_rating{
         font-size: 40%;
     }
     .weather{
        height: 23%;
        width: 34%;
        bottom: 10%
     }
 }
 @media only screen and (min-width: 1920px){
    #logo{
        padding: 7%;
        width: 22vh
    }
    .text-title{
        font-size:7vh;
 }
 .content{
     top:15%;
     bottom: 1%;
     height: calc(100% - 17%);
     width:98%
 }
}
